* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e6ffce;

}

header {
    background-color: #2f7d23;
    height: 70px;
}

h1 {
    color: #e6ffce;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}

nav ul {
    display: flex;
    gap: 25px;
}

nav ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

ul a img {
    width: 50px;
}

.nav-items a {
    display: flex;
    align-items: center;
    color: #e6ffce;
}

main {
    max-width: 1440px;
    background-color: #b8dfa3;
    margin: 10px auto 0;
    padding: 15px;
    border-radius: 15px;
}

section {
    border-bottom: 2px solid #2f7d23;
    margin-bottom: 15px;
}

.html {
    color: #2f7d23;

}

.css {
    color: #2f7d23;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
   
}

.container p {
    padding: 10px 0 0 10px;
}

.border-bot {
    border-bottom: 1px solid #2f7d23;
    padding: 10px;
}

code {
    background-color: #30312f;
    padding: 0 5px 0 5px;
    border-radius: 3px;
    color: #e6ffce;
}

.code-style{
    color: #e6ffce;
    background-color: #30312f;
    margin-top: 10px;
    border-radius: 10px;
    padding: 10px;
    text-align: left;
}

.html-struc {
    margin: 20px;
}

.html-struc img {
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 1.5px 3px 15px #000000;
}

details {
    margin-bottom: 12px;
    margin-top: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background: #fff;
}

summary {
    cursor: pointer;
    font-weight: bold;
    font-size: 32px;
}

.mt {
    margin-top: 10px;
}

footer {
    height: 100px;
    background-color: #2f7d23;
    color: #e6ffce;
    text-align: center;
    padding: 15px;

}
footer a {
    color: #e6ffce;   
}

.btn a{
    background-color: #b8dfa3;
    width: 125px;
    height: 50px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    border-radius: 5px;
    color: #2f7d23;
}

@media screen and (max-width: 660px) {
  .html-struc img {
    max-width: 300px;
  }
}
@media screen and (max-width: 370px) {
  .html-struc img {
    max-width: 200px;
  }
}
@media screen and (max-width: 500px) {
    header {
        height: 120px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

  nav {
    display: block;
  }
}

pre {
    overflow-x: auto;
    max-width: 100%;
}